nextflow.enable.dsl = 2
/*
========================================================================================
    BJ-SomaticVariantCalling Nextflow config file
========================================================================================
    Default config options for standard and batch profiles
----------------------------------------------------------------------------------------
*/

manifest {
  name            = "BJ-SomaticVariantCalling"
  description     = "Pipeline performs variant calling for WGS and Exome/Targeted sequencing"
  author          = "BioSkryb Genomics"
  mainScript      = "main.nf"
  version         = '1.0.6'
  nextflowVersion = '!>=22.10.1'
}
nextflow.enable.configProcessNamesValidation = false

/*
* Default pipeline parameters. They can be overriden on the command line eg.
* given `params.foo` specify on the run command line `--foo some_value`.
*/

// Load environment config
includeConfig './nf-bioskryb-utils/conf/environment.config'
// Load genomes config
includeConfig './nf-bioskryb-utils/conf/genomes.config'
includeConfig './nf-bioskryb-utils/conf/modules.config'
includeConfig './nf-bioskryb-utils/conf/wgs.config'

params {
  // GENERAL
  help                           = false
  organization                   = ""
  workspace                      = ""
  project                        = ""
  architecture = "x86"
  // arm, x86
  somatic_variant_caller         = "tnscope"
  // tnscope, tnseq
  vep_cache                      = "s3://bioskryb-public-data/pipeline_resources/genomes/Homo_sapiens/NCBI/GRCh38/Annotation/VEP"

  // READ INPUTS
  reads                          = ""
  input_csv                      = ""
  is_bam                         = false
  is_fasterq                     = false
  instrument                     = ""
  platform                       = "Illumina"

  // SENTIEON
  variant_caller                 = "dnascope"
  // dnascope, haplotyper, all
  genomes_base = "s3://bioskryb-public-data/pipeline_resources"
  genome                         = "GRCh38"
  // GRCh38, GRCh37 
  mode                           = "wgs"
  // wgs, exome
  exome_panel                    = "xGen Exome Hyb Panel v2"
  // "xGen Exome Hyb Panel v2" aka IDT, "TruSight One", "TWIST"
  dnascope_model_selection       = "sentieon"
  // sentieon, bioskryb129
  pcrfree                        = false
  ploidy                         = 2

  reference                      = genomes[params.genome]['reference']
  dbsnp                          = genomes[params.genome]['dbsnp']
  dbsnp_index                    = genomes[params.genome]['dbsnp_index']
  mills                          = genomes[params.genome]['mills']
  mills_index                    = genomes[params.genome]['mills_index']
  onekg                          = genomes[params.genome]['onekg']
  onekg_index                    = genomes[params.genome]['onekg_index']
  base_metrics_intervals         = genomes[params.genome]['base_metrics_intervals']
  wgs_or_target_intervals        = genomes[params.genome]['wgs_or_target_intervals']
  roi_intervals                  = genomes[params.genome]['roi_intervals']
  refseq                         = genomes[params.genome]['refseq']
  dnascope_model                 = genomes[params.genome][params.platform][params.dnascope_model_selection][params.mode]['dnascope_model']
  sigprofilermatrixgenerator_reference  = genomes[params.genome]['sigprofilermatrixgenerator_reference']


  // SNPEFF
  hgvs_old                       = true

  // MULTIQC
  multiqc_config                 = "${baseDir}/assets/multiqc"


  // OUTPUT DIR - defaults are profile specific
  publish_dir                    = ""
  report_s3_dir            = "s3://bioskryb-reports/"
  timestamp                      = new java.util.Date().format('yyMMdd_HHmmss').toString()
  tmp_dir                        = "/tmp/${params.timestamp}"
  enable_publish                 = true
  disable_publish                = false
  variant_workflow_type          = "somatic_heuristic_filter"
  // pseudobulk, panel_of_normal, somatic_heuristic_filter
  panel_of_normal_vcf            = ""

  chrs                           = "['chr1', 'chr2', 'chr3', 'chr4', 'chr5', 'chr6', 'chr7', 'chr8', 'chr9', 'chr10', 'chr11', 'chr12', 'chr13', 'chr14', 'chr15', 'chr16', 'chr17', 'chr18', 'chr19', 'chr20', 'chr21', 'chr22', 'chrX', 'chrY']"

  //mode
  model_vcf = "deepvariant" //

  //SEQUOIA_BINOM_BETABINOM_TAB_NV_NR
  aggregated_min_mean_depth = 10
  aggregated_max_mean_depth = 500
  gender = "female"

  //CONCAT_FILTER_BINOM_BETABINOM_TAB_NV_NR
  first_pass_binomial_cutoff = -10
  first_pass_betabinomial_cutoff = 0.4

  // snp_heuristic mode params
  cutoff_as                      = 140
  cutoff_prop_clipped_reads                 = 0.3
  cutoff_prop_bp_under                      = 0.3
  cutoff_prop_bp_upper                      = 0.3
  cutoff_sd_indiv                           = 12
  cutoff_mad_indiv                          = 8
  cutoff_sd_both                            = 25
  cutoff_mad_both                           = 12
  cutoff_sd_extreme                         = 25
  cutoff_mad_extreme                        = 12
  cutoff_numreads_variant_manual            = 0
  cutoff_goodcov_depth                      = 3
  cutoff_prop_cells_goodcov_group = 0.7
  // Cutoffs for process CUSTOM_RSCRIPT_SOMATICSNP_FILTER_1_SAMPLELEVEL_PROCESS_PILEUP_SAMPLE_CIGAR 
  cutoff_mq_hq = 30
  cutoff_bq_hq = 30
  cutoff_bps_start = 15
  num_lines_read_pileup = 250000
  read_length = 150
  cutoff_num_hq_fragments_forward = 0
  cutoff_num_hq_fragments_reverse = 0
  disable_qc = "FALSE" // TRUE

  // Sequoia
  second_pass_binomial_cutoff = -10
  second_pass_betabinomial_cutoff_rho_snp = 0.4
  second_pass_betabinomial_cutoff_rho_indel = 0.4 
  aggregated_hq_min_mean_depth = 10
  aggregated_hq_max_mean_depth = 500


  //SKIP MODULES
  skip_variant_annotation        = true
  skip_gene_coverage             = false
  skip_sigprofile                = true




  // NOTIFICATIONS
  email_on_fail                  = ""
}
