common_resource_labels = [
    pipeline_user                : params.pipeline_user,
    basejumper_organization_name : params.basejumper_organization_name,
    basejumper_workspace_name    : params.basejumper_workspace_name,
    basejumper_project_name      : params.basejumper_project_name,
    pipeline_name                : params.pipeline_name,
    basejumper_organization_uuid : params.basejumper_organization_uuid,
    basejumper_workspace_uuid    : params.basejumper_workspace_uuid,
    basejumper_project_uuid      : params.basejumper_project_uuid,
    basejumper_pipeline_uuid     : params.basejumper_pipeline_uuid,
    pipeline_biosample_count     : params.pipeline_biosample_count
]

process {

    // Module config for Somatic Variant Calling Workflow

    withName: 'PUBLISH_INPUT_DATASET' {
        container = "public.ecr.aws/v2u5x5f1/basejumper:ubuntu_24.04_stable"
        cpus        = 2
        memory      = 3.GB
        time        = 1.h
        resourceLabels = 
            common_resource_labels + [
            pipeline_process_name: "PUBLISH_INPUT_DATASET"
        ]
    }

    withName: 'SENTIEON_ALIGNMENT' {
        errorStrategy   = { task.attempt <=1 ? 'retry' : 'ignore' }
        maxForks    = 8 
        container = {
            params.architecture == 'arm' ? 'public.ecr.aws/v2u5x5f1/basejumper:sentieon-arm-202308-01'
            : 'public.ecr.aws/v2u5x5f1/basejumper:sentieon-202308-01-1'
        }
        cpus        = 64
        memory      = 123.GB
        time        = 24.h
        resourceLabels = 
            common_resource_labels + [
            pipeline_process_name: "SENTIEON_ALIGNMENT"
        ]
    }

    withName: 'COUNT_READS' {
        container = "public.ecr.aws/v2u5x5f1/basejumper:count_reads_0.1"
        cpus = 2
        memory = 7.GB
        time = 1.h
        resourceLabels = 
            common_resource_labels + [
            pipeline_process_name: "COUNT_READS"
        ]
    }

    withName: 'COMBINE_READ_COUNTS' {
        container = "public.ecr.aws/v2u5x5f1/basejumper:count_reads_0.1"
        cpus = 1
        memory = 3.GB
        time = 1.h
        resourceLabels = 
            common_resource_labels + [
            pipeline_process_name: "COMBINE_READ_COUNTS"
        ]
    }

    withName: 'SET_PSEUDO_BULK' {
        container = "public.ecr.aws/v2u5x5f1/basejumper:somatic_variant_calling_0.2"
        cpus = 1
        memory = 3.GB
        time = 1.h
        resourceLabels = 
            common_resource_labels + [
            pipeline_process_name: "SET_PSEUDO_BULK"
        ]
    }

    withName: 'CUSTOM_BAM_SUBSAMPLE' {
        container = "quay.io/biocontainers/samtools:1.15.1--h1170115_0"
        cpus        = 4
        memory      = 8.GB
        time = 5.h
        resourceLabels = 
            common_resource_labels + [
            pipeline_process_name: "CUSTOM_BAM_SUBSAMPLE"
        ]
    }

    withName: 'CUSTOM_BAM_CONCATENATE_FILES' {
        container = "quay.io/biocontainers/samtools:1.15.1--h1170115_0"
        cpus        = 4
        memory      = 8.GB
        time = 5.h
        resourceLabels = 
            common_resource_labels + [
            pipeline_process_name: "CUSTOM_BAM_CONCATENATE_FILES"
        ]
    }

    withName: 'PICARD_ADDORREPLACEREADGROUPS' {
        container = "public.ecr.aws/v2u5x5f1/basejumper:picard_addorreplacegroups_3.1.2"
        cpus        = 4
        memory      = 8.GB
        time = 5.h
        resourceLabels = 
            common_resource_labels + [
            pipeline_process_name: "PICARD_ADDORREPLACEREADGROUPS"
        ]
    }

    withName: 'SENTIEON_ALGORITHM' {
        errorStrategy   = { task.attempt <=1 ? 'retry' : 'ignore' }
        maxForks    = 8 
        container = {
            params.architecture == 'arm' ? 'public.ecr.aws/v2u5x5f1/basejumper:sentieon-arm-202308-01'
            : 'public.ecr.aws/v2u5x5f1/basejumper:sentieon-202308-01-1'
        }
        cpus        = 64
        memory      = 123.GB
        time        = 24.h
        resourceLabels = 
            common_resource_labels + [
            pipeline_process_name: "SENTIEON_ALGORITHM"
        ]
    }

    withName: 'SENTIEON_DRIVER_TNSCOPE' {
        errorStrategy   = { task.attempt <=1 ? 'retry' : 'ignore' }
        maxForks    = 8
        container = {
            params.architecture == 'arm' ? 'public.ecr.aws/v2u5x5f1/basejumper:sentieon-arm-202308-01'
            : 'public.ecr.aws/v2u5x5f1/basejumper:sentieon-202308-01-1'
        }
        cpus        = 64
        memory      = 123.GB
        time        = 24.h
        resourceLabels = 
            common_resource_labels + [
            pipeline_process_name: "SENTIEON_DRIVER_TNSCOPE"
        ]
    }

    withName: 'SENTIEON_DRIVER_TNSEQ' {
        errorStrategy   = { task.attempt <=1 ? 'retry' : 'ignore' }
        maxForks    = 8
        container = {
            params.architecture == 'arm' ? 'public.ecr.aws/v2u5x5f1/basejumper:sentieon-arm-202308-01'
            : 'public.ecr.aws/v2u5x5f1/basejumper:sentieon-202308-01-1'
        }
        cpus        = 64
        memory      = 123.GB
        time        = 24.h
        resourceLabels = 
            common_resource_labels + [
            pipeline_process_name: "SENTIEON_DRIVER_TNSEQ"
        ]
    }

    withName: 'SENTIEON_DNASCOPE' {
        errorStrategy   = { task.attempt <=1 ? 'retry' : 'ignore' }
        container = 'public.ecr.aws/v2u5x5f1/basejumper:sentieon-202308-01-1'
        cpus        = 64
        memory      = 123.GB
        time        = 24.h
        resourceLabels = 
            common_resource_labels + [
            pipeline_process_name: "SENTIEON_DNASCOPE"
        ]
    }

    withName: 'PREPROCESS_VCF' {
        container = "public.ecr.aws/v2u5x5f1/basejumper:variantannotation_0.4"
        errorStrategy   = 'ignore'
        cpus = 2
        memory = 7.GB
        time = 1.h
        resourceLabels = 
            common_resource_labels + [
            pipeline_process_name: "PREPROCESS_VCF"
        ]
    }

    withName: 'MERGE_PROCESSED_VCF' {
        container = "quay.io/biocontainers/bcftools:1.21--h8b25389_0"
        errorStrategy = 'retry'
        cpus  = 60
        memory  = 243.GB
        time = 48.h
        resourceLabels = 
            common_resource_labels + [
            pipeline_process_name: "MERGE_PROCESSED_VCF"
        ]
    }

  withName: 'CUSTOM_GET_LIST_POS_GROUP' {            
        container = "public.ecr.aws/v2u5x5f1/basejumper:utility-lite-0.1.0"
        errorStrategy = 'ignore'
        cpus  = 2
        memory  = 7.GB
        time = 48.h
        resourceLabels = 
            common_resource_labels + [
            pipeline_process_name: "CUSTOM_GET_LIST_POS_GROUP"
        ]
    }

    withName: 'CUSTOM_BAM_GROUP_PILEUP' {            
        container = "quay.io/biocontainers/samtools:1.21--h50ea8bc_0"
        errorStrategy = 'retry'
        cpus  = 2
        memory  = 7.GB
        time = 48.h
        resourceLabels = 
            common_resource_labels + [
            pipeline_process_name: "CUSTOM_BAM_GROUP_PILEUP"
        ]
    }

    withName: 'CREATE_TAB_NVNR' {
        container = "public.ecr.aws/v2u5x5f1/basejumper:custom_snp_somatic_filter_sequoia_0.6"
        errorStrategy = 'retry'
        cpus  = 2
        memory  = 7.GB
        time = 24.h
        resourceLabels = 
            common_resource_labels + [
            pipeline_process_name: "CREATE_TAB_NVNR"
        ]
    }

    withName: 'SEQUOIA_BINOM_BETABINOM_TAB_NV_NR' {
        container = "public.ecr.aws/v2u5x5f1/basejumper:custom_snp_somatic_filter_sequoia_0.6"
        errorStrategy = 'retry'
        cpus  = 16
        memory  = 60.GB
        time = 48.h
        resourceLabels = 
            common_resource_labels + [
            pipeline_process_name: "SEQUOIA_BINOM_BETABINOM_TAB_NV_NR"
        ]
    }

    withName: 'CONCAT_FILTER_BINOM_BETABINOM_TAB_NV_NR' {
        container = "public.ecr.aws/v2u5x5f1/basejumper:custom_snp_somatic_filter_sequoia_0.6"
        errorStrategy = 'retry'
        cpus  = 64
        memory  = 243.GB
        time = 48.h
        resourceLabels = 
            common_resource_labels + [
            pipeline_process_name: "CONCAT_FILTER_BINOM_BETABINOM_TAB_NV_NR"
        ]
    }

    withName: 'CUSTOM_RSCRIPT_SOMATICSNP_FILTER_1_SAMPLELEVEL_PROCESS_PILEUP_SAMPLE_CIGAR' {            
        container = "public.ecr.aws/v2u5x5f1/basejumper:custom_snp_somatic_filter_sequoia_0.7"
        errorStrategy = 'retry'
        cpus  = 2
        memory  = 7.GB
        time = 24.h
        resourceLabels = 
            common_resource_labels + [
            pipeline_process_name: "CUSTOM_RSCRIPT_SOMATICSNP_FILTER_1_SL_PPSC"
        ]
    }

    withName: 'CUSTOM_SOMATIC_SNPINDEL_FILTERRAWTABLES' {
        container = "public.ecr.aws/v2u5x5f1/basejumper:custom_snp_somatic_filter_sequoia_0.7_5"
        errorStrategy = { task.attempt <=2 ? 'retry' : 'ignore' }
        cpus  = 16
        memory  = 60.GB
        time = 24.h
        resourceLabels = 
            common_resource_labels + [
            pipeline_process_name: "CUSTOM_SOMATIC_SNPINDEL_FILTERRAWTABLES"
        ]
    }

    withName: 'CUSTOM_CREATE_GROUP_LEVEL_TAB_DFS' {
        container = "public.ecr.aws/v2u5x5f1/basejumper:custom_snp_somatic_filter_sequoia_0.6"
        errorStrategy = 'retry'
        cpus  = 4
        memory  = 15.GB
        time = 24.h
        resourceLabels = 
            common_resource_labels + [
            pipeline_process_name: "CUSTOM_CREATE_GROUP_LEVEL_TAB_DFS"
        ]
    }

    withName: 'SEQUOIA' {            
        container = "public.ecr.aws/v2u5x5f1/basejumper:custom_snp_somatic_filter_sequoia_0.6"
        errorStrategy = 'retry'
        cpus  = 64
        memory  = 243.GB
        time = 48.h
        resourceLabels = 
            common_resource_labels + [
            pipeline_process_name: "SEQUOIA"
        ]
    }

    withName: 'SUBSET_VCF_VARIANTS' {            
        container = "quay.io/biocontainers/bcftools:1.21--h8b25389_0"
        errorStrategy = 'ignore'
        cpus  = 2
        memory  = 7.GB
        time = 48.h
        resourceLabels = 
            common_resource_labels + [
            pipeline_process_name: "SUBSET_VCF_VARIANTS"
        ]
    }

    withName: 'POSTPROCESS_SEQUOIA_DRAWVAFHEAT_TREE' {
        container = "public.ecr.aws/v2u5x5f1/basejumper:custom_snp_somatic_filter_sequoia_0.7"
        errorStrategy = 'ignore'
        cpus  = 4
        memory  = 15.GB
        time = 48.h
        resourceLabels = 
            common_resource_labels + [
            pipeline_process_name: "POSTPROCESS_SEQUOIA_DRAWVAFHEAT_TREE"
        ]
    }

    withName: 'CUSTOM_VARIANT_FILTER_PROVENANCE' {
        container = "public.ecr.aws/v2u5x5f1/basejumper:custom_snp_somatic_filter_sequoia_0.6"
        errorStrategy = 'retry'
        cpus  = 4
        memory  = 15.GB
        time = 48.h
    }

    withName: 'SENTIEON_DRIVER_TNSCOPE_PANEL_OF_NORMAL' {
        errorStrategy   = { task.attempt <=1 ? 'retry' : 'ignore' }
        maxForks    = 8
        container = {
            params.architecture == 'arm' ? 'public.ecr.aws/v2u5x5f1/basejumper:sentieon-arm-202308-01' : 'public.ecr.aws/v2u5x5f1/basejumper:sentieon-202308-01-1'
        }
        cpus        = 64
        memory      = 123.GB
        time        = 24.h
        resourceLabels = 
            common_resource_labels + [
            pipeline_process_name: "SENTIEON_DRIVER_TNSCOPE_PANEL_OF_NORMAL"
        ]
    }

    withName: 'GENERATE_PANEL_OF_NORMAL' {
        container   = 'quay.io/biocontainers/bcftools:1.14--h88f3f91_0'
        cpus        = 2
        memory      = 7.GB
        time        = 1.h
        resourceLabels = 
            common_resource_labels + [
            pipeline_process_name: "GENERATE_PANEL_OF_NORMAL"
        ]
    }

    withName: 'SENTIEON_DRIVER_TNSCOPE_TUMOR_PANEL_OF_NORMAL' {
        errorStrategy   = { task.attempt <=1 ? 'retry' : 'ignore' }
        maxForks    = 8
        container = {
            params.architecture == 'arm' ? 'public.ecr.aws/v2u5x5f1/basejumper:sentieon-arm-202308-01'
            : 'public.ecr.aws/v2u5x5f1/basejumper:sentieon-202308-01-1'
        }
        cpus        = 64
        memory      = 123.GB
        time        = 24.h
        resourceLabels = 
            common_resource_labels + [
            pipeline_process_name: "SENTIEON_DRIVER_TNSCOPE_TUMOR_PANEL_OF_NORMAL"
        ]
    }

    withName: 'SIGPROFILERGENERATEMATRIX_MATRIX_GENERATOR' {        
        container = "public.ecr.aws/v2u5x5f1/basejumper:sigprofilermatrixgenerator_1.2.25_2"
        errorStrategy = { task.attempt <= 1 ? 'retry' : 'ignore' }
        cpus        = 2
        memory      = 7.GB
        time        = 1.h
        resourceLabels = 
            common_resource_labels + [
            pipeline_process_name: "SIGPROFILERGENERATEMATRIX_MATRIX_GENERATOR"
        ]
    }

    withName: 'CUSTOM_MUTATIONCATALOG_MERGER' {        
        container = "public.ecr.aws/v2u5x5f1/basejumper:sigprofilermatrixgenerator_1.2.25_2"
        errorStrategy = { task.attempt <= 1 ? 'retry' : 'ignore' }
        cpus        = 2
        memory      = 7.GB
        time        = 1.h
        resourceLabels = 
            common_resource_labels + [
            pipeline_process_name: "CUSTOM_MUTATIONCATALOG_MERGER"
        ]
    }

    withName: 'SIGPROFILE_HEATMAP' {        
        container = "public.ecr.aws/v2u5x5f1/basejumper:sigprofilermatrixgenerator_1.2.25_4"
        errorStrategy   = 'ignore'
        cpus        = 2
        memory      = 7.GB
        time        = 1.h
        resourceLabels = 
            common_resource_labels + [
            pipeline_process_name: "SIGPROFILE_HEATMAP"
        ]
    }

    withName: 'MERGE_VCFS' {   
        container = "public.ecr.aws/v2u5x5f1/basejumper:variantannotation_0.3"
        errorStrategy = { task.attempt <= 1 ? 'retry' : 'ignore' }
        cpus = 4
        memory = 15.GB
        time = 3.h
        resourceLabels = 
            common_resource_labels + [
            pipeline_process_name: "MERGE_VCFS"
        ]
    }

    withName: 'VARIANTQC' {            
        container = "public.ecr.aws/v2u5x5f1/basejumper:discvrseq-1.20"
        errorStrategy   = 'ignore'
        cpus = 8
        memory = 30.GB
        time = 5.h
        resourceLabels = 
            common_resource_labels + [
            pipeline_process_name: "VARIANTQC"
        ]
    }

    withName: 'SPLIT_VCF_BY_CHR' {            
        container = "public.ecr.aws/v2u5x5f1/basejumper:variantannotation_0.3"
        errorStrategy   = 'ignore'
        cpus = 2
        memory = 7.GB
        time = 1.h
        resourceLabels = 
            common_resource_labels + [
            pipeline_process_name: "SPLIT_VCF_BY_CHR"
        ]
    }

    withName: 'VARIANT_ANNOTATION_VEP' {            
        container = "public.ecr.aws/v2u5x5f1/basejumper:variantannotation_0.3"
        errorStrategy   = 'ignore'
        cpus = 2
        memory = 7.GB
        time = 1.h
        resourceLabels = 
            common_resource_labels + [
            pipeline_process_name: "VARIANT_ANNOTATION_VEP"
        ]
    }

    withName: 'CONCAT_VCFS' {
        container = "public.ecr.aws/v2u5x5f1/basejumper:variantannotation_0.3"
        errorStrategy   = 'ignore'
        cpus = 2
        memory = 7.GB
        time = 3.h
        resourceLabels = 
            common_resource_labels + [
            pipeline_process_name: "CONCAT_VCFS"
        ]
    }

    withName: 'GATK_VARIANTSTOTABLE' {
        container   = "broadinstitute/gatk:4.1.3.0"
        cpus        = 4
        memory      = 15.GB
        time        = 1.h
        resourceLabels = 
            common_resource_labels + [
            pipeline_process_name: "GATK_VARIANTSTOTABLE"
        ]
    }

    withName: 'SENTIEON_DRIVER_METRICS' {
        container = {
            params.architecture == 'arm' ? 'public.ecr.aws/v2u5x5f1/basejumper:sentieon-arm-202308-01'
            : 'public.ecr.aws/v2u5x5f1/basejumper:sentieon-202308-01-1'
        }
        cpus        = 64
        memory      = 123.GB
        time        = 5.h
        resourceLabels = 
            common_resource_labels + [
            pipeline_process_name : "SENTIEON_DRIVER_METRICS"
        ]
    }

    withName: 'SENTIEON_DRIVER_COVERAGEMETRICS' {
        container = {
            params.architecture == 'arm' ? 'public.ecr.aws/v2u5x5f1/basejumper:sentieon-arm-202308-01'
            : 'public.ecr.aws/v2u5x5f1/basejumper:sentieon-202308-01-1'
        }
        errorStrategy = { task.attempt <=1 ? 'retry' : 'ignore' }
        cpus            = 2
        memory          = 30.GB
        time            = 2.h
        resourceLabels = 
            common_resource_labels + [
            pipeline_process_name: "SENTIEON_DRIVER_COVERAGEMETRICS"
        ]
    }

    withName: 'CUSTOM_DATA_PROCESSING' {
        container = "public.ecr.aws/v2u5x5f1/basejumper:custom_wgs_0.14"
        cpus        = 2
        memory      = 7.GB
        time        = 5.h
        resourceLabels = 
            common_resource_labels + [
            pipeline_process_name : "CUSTOM_DATA_PROCESSING"
        ]
    }

    withName: 'CUSTOM_REPORT' {
        container = "public.ecr.aws/v2u5x5f1/basejumper:custom_wgs_0.16"
        cpus        = { 2 * task.attempt }
        memory      = { 7.GB * task.attempt }
        time        = 1.h
        resourceLabels = 
            common_resource_labels + [
            pipeline_process_name : "CUSTOM_REPORT"
        ]
    }

    withName: 'REPORT_VERSIONS' {
        container   = "public.ecr.aws/v2u5x5f1/basejumper:ubuntu_24.04_stable"
        cpus        = 1
        memory      = 3.GB
        time        = 1.h
        resourceLabels = 
            common_resource_labels + [
            pipeline_process_name: "REPORT_VERSIONS"
        ]
    }

    withName: 'MULTIQC' {
        container   = "quay.io/biocontainers/multiqc:1.28--pyhdfd78af_0"
        errorStrategy = { task.attempt <=2 ? 'retry' : 'terminate' }
        cpus        = { 8 * task.attempt }
        memory      = { 30.GB * task.attempt }
        time        = { 5.h }
        resourceLabels = 
            common_resource_labels + [
            pipeline_process_name : "MULTIQC"
        ]
    }

}

